
@{
    ViewBag.Title = "Du lịch miền bắc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Trang Du lịch miền bắc-->
<section class="dulichmienbac row">
    <!--Tiêu đề-->
    <p class="tieude">Du lịch miền bắc</p>
    <!--Danh sách tour-->
    <article class="danhsach col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Các tour-->
        <div class="cactour">
            <!--Tour-->
            <div class="tour col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive" />
                <div class="thongtin row">
                    <ul class="text">
                        <li class="vung">Hà Nội - Tây Bắc</li>
                        <li><span>Mã Tour:</span> NĐ-TB-5N-5300</li>
                        <li><span>Thời gian:</span> 5 ngày 4 đêm</li>
                        <li><span>Ngày xuất phát:</span> 30/1/2017</li>
                        <li class="gia">5.300.000 vnđ</li>
                    </ul>
                    <div class="xemthem">
                        <a href="@Url.Action("Chitiettour","Home")" id="xemthem" class="pull-right">Đăng ký</a>
                    </div>
                </div>
            </div>

            <!--Tour-->
            <div class="tour col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="~/Content/images/trangchu/avt-tour-2.png" alt="" class="img-responsive" />
                <div class="thongtin row">
                    <ul class="text">
                        <li class="vung">Hà Nội - Vịnh Hạ Long</li>
                        <li><span>Mã Tour:</span> NĐ-TB-5N-5300</li>
                        <li><span>Thời gian:</span> 5 ngày 4 đêm</li>
                        <li><span>Ngày xuất phát:</span> 30/1/2017</li>
                        <li class="gia">5.300.000 vnđ</li>
                    </ul>
                    <div class="xemthem">
                        <a href="@Url.Action("Chitiettour","Home")" id="xemthem" class="pull-right">Đăng ký</a>
                    </div>
                </div>
            </div>

            <!--Tour-->
            <div class="tour col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="~/Content/images/trangchu/avt-tour-3.png" alt="" class="img-responsive" />
                <div class="thongtin row">
                    <ul class="text">
                        <li class="vung">Hà Nội - Chùa Bái Đính</li>
                        <li><span>Mã Tour:</span> NĐ-TB-5N-5300</li>
                        <li><span>Thời gian:</span> 5 ngày 4 đêm</li>
                        <li><span>Ngày xuất phát:</span> 30/1/2017</li>
                        <li class="gia">5.300.000 vnđ</li>
                    </ul>
                    <div class="xemthem">
                        <a href="@Url.Action("Chitiettour","Home")" id="xemthem" class="pull-right">Đăng ký</a>
                    </div>
                </div>
            </div>

            <!--Tour-->
            <div class="tour col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="~/Content/images/trangchu/avt-tour-4.png" alt="" class="img-responsive" />
                <div class="thongtin row">
                    <ul class="text">
                        <li class="vung">Hà Nội - Cát Bà</li>
                        <li><span>Mã Tour:</span> NĐ-TB-5N-5300</li>
                        <li><span>Thời gian:</span> 5 ngày 4 đêm</li>
                        <li><span>Ngày xuất phát:</span> 30/1/2017</li>
                        <li class="gia">5.300.000 vnđ</li>
                    </ul>
                    <div class="xemthem">
                        <a href="@Url.Action("Chitiettour","Home")" id="xemthem" class="pull-right">Đăng ký</a>
                    </div>
                </div>
            </div>

            <!--Tour-->
            <div class="tour col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="~/Content/images/trangchu/avt-tour-5.png" alt="" class="img-responsive" />
                <div class="thongtin row">
                    <ul class="text">
                        <li class="vung">Hà Nội - Sapa</li>
                        <li><span>Mã Tour:</span> NĐ-TB-5N-5300</li>
                        <li><span>Thời gian:</span> 5 ngày 4 đêm</li>
                        <li><span>Ngày xuất phát:</span> 30/1/2017</li>
                        <li class="gia">5.300.000 vnđ</li>
                    </ul>
                    <div class="xemthem">
                        <a href="@Url.Action("Chitiettour","Home")" id="xemthem" class="pull-right">Đăng ký</a>
                    </div>
                </div>
            </div>

            <!--Tour-->
            <div class="tour col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="~/Content/images/trangchu/avt-tour-1.png" alt="" class="img-responsive" />
                <div class="thongtin row">
                    <ul class="text">
                        <li class="vung">Hà Nội - Đà Nẵng</li>
                        <li><span>Mã Tour:</span> NĐ-TB-5N-5300</li>
                        <li><span>Thời gian:</span> 5 ngày 4 đêm</li>
                        <li><span>Ngày xuất phát:</span> 30/1/2017</li>
                        <li class="gia">5.300.000 vnđ</li>
                    </ul>
                    <div class="xemthem">
                        <a href="@Url.Action("Chitiettour","Home")" id="xemthem" class="pull-right">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>